<h1>Editing manufacturer</h1>

<%= render "form", manufacturer: @manufacturer %>

<br>

<div>
  <%= link_to "Show this manufacturer", @manufacturer %> |
  <%= link_to "Back to manufacturers", manufacturers_path %>
</div>
