<h1>Editing smartphone</h1>

<%= render "form", smartphone: @smartphone %>

<br>

<div>
  <%= link_to "Show this smartphone", @smartphone %> |
  <%= link_to "Back to smartphones", smartphones_path %>
</div>
