<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="w-50 p-4 bg-light rounded shadow-sm">
    <h1 class="mb-3">Register a New Smartphone</h1>
    <%= render "form", smartphone: @smartphone, url: admin_smartphones_path %>
  </div>
</div>